.box {
  color: rgb(254, 109, 222) !important;
  /*padding: 1.5rem 1.5rem 1.25rem;*/
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgba(254, 109, 222, 0.1) 0%, rgba(254, 109, 109, 0.1) 100%) repeat scroll 0% 0%;
  border-radius: 20px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: opacity 0.125s ease 0s;
  text-decoration: none !important;
  position: relative;
  box-sizing: border-box;
}

.box a {
  color: #fdabeb !important;
}

.cute-pink-btn {
  text-align: center;
  background: linear-gradient(90deg, rgba(254,109,221,1) 0%, rgba(254,109,111,1) 100%);
  color: white;
  padding: 8px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 8px;
}

.cute-pink-btn:hover {
  background: linear-gradient(90deg, rgba(255,146,230,1) 0%, rgba(255,141,142,1) 100%);
  cursor: pointer;
}

.cute-pink-btn:active {
  background: linear-gradient(90deg, rgba(207,62,174,1) 0%, rgba(207,61,63,1) 100%);
  cursor: pointer;
}

.cute-header {
  color: rgb(254, 109, 222);
  font-weight: bold;
  font-size: 21px;
}

.cute-header.tip-info {
  position: relative;
  a { color: #fe6dde !important; }
  .cancel {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px;
    cursor: pointer;
  }
}

.reddit-preview {
  background-color: rgba(0,0,0,.3);
  border: 1px solid #563a3d;
  border-radius: 15px;
  color: #fac4b6;
  margin-top: 30px;
  padding: 12px 15px 15px;
  font-size: 13px;
  line-height: 17px;
  .author {
    margin: 0;
    font-weight: 700;
    .torus-logo {
      vertical-align: middle;
      width: 1em;
      border-radius: 0.5em;
      margin-left: 0.25em;
      margin-top: -0.2em;
    }
    .wait:after {
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;
      -webkit-animation: ellipsis steps(4,end) 900ms infinite;
      animation: ellipsis steps(4,end) 900ms infinite;
      content: "\2026"; /* ascii code for the ellipsis character */
      width: 0px;
    }
  }
  .body {
    margin: 4px 0 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.cute-input {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgb(254, 109, 222);
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(254, 109, 222, 0.25);
  padding: 0.5rem 1rem;
  border-radius: 20px;

  input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 0;
    width: 80%;
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
    font-size: 16px;
  }
}

.tipping-interface {
  width: 440px;
  margin-top: 50px;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  text-align: left;
  opacity: 1;

  transition-property: left, opacity;
  transition-duration: 1s;

  animation-duration: 1s;
  animation-name: slidein;

  .cancel {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
  }

  .tip-info {
    margin-top: -2px;
  }

  .tip-token {
    text-align: center;
    margin-right: 12px;
    background: rgb(254, 109, 222);
    display: inline-block;
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 8px;
  }

  .tip-token-info {
    font-size: 12px;
    font-style: italic;
    margin-top: 4px;
    a { cursor: pointer }
  }

  .target-container {
    margin-top: 25px;
    input {
      padding-left: 1px;
    }
  }

  .quantity-container {
    margin-top: 25px;
    .token {
      display: inline-block;
      float: right;
    }
  }

  .complete {
    &.disabled {
      opacity: 0.3;
    }
    margin-top: 23px;
    padding: 15px;
    font-size: 18px;
  }

  .user-prefix {
    color: #9c4287;
    padding-right: 3px;
    display: block;
    float: left;
    margin-top: -1px;
  }

}

@keyframes slidein {
  from {
    transform: translateY(100%) translateX(-50%);
    opacity: 0;
  }

  to {
    transform: translateY(-50%) translateX(-50%);
    opacity: 1;
  }
}

.faqMode .tipping-interface {
  left: 150%;
  opacity: 0;
}

.relay-container {
  .relay-text {
    float: left;
    line-height: 27px;
    opacity: 0.7;
    padding-left: 5px;
  }
  margin-top: 20px;
  height: 30px;
}

.toggle {
  background-color: rgba(0, 0, 0, 0.4);
  width: 50px;
  height: 30px;
  border-radius: 18px;
  float: right;
  position: relative;
  cursor: pointer;
  .circle {
    background-color: rgba(254, 109, 222, 0.2);
    width: 26px;
    height: 26px;
    border-radius: 14px;
    position: absolute;
    top: calc(50% - 13px);
    left: 2px;
    transition-property: left, background-color;
    transition-duration: 0.3s;
  }
  &.on {
    .circle {
      left: calc(100% - 28px);
      background-color: rgba(254, 109, 222, 0.7);
    }
  }
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
::placeholder {
  opacity: 1;
  color: #522245;
}