.wallet-info {
  position: absolute;
  top: 20px;
  right: 20px;
  .light-background {
    width: auto;
    &.left-side {
      float: left;
    }
    &.close-button {
      float: right;
    }
    &.button {
      &:hover {
        background-color: #34112d;
        cursor: pointer;
      }
      &:active {
        background-color: #1e0e1b;
      }
      margin-left: 9px;
      padding-top: 9px;
      padding-bottom: 8px;
      padding-left: 3px;
      padding-right: 3px;
    }
    border-radius: 8px;
  }
  .donut-bal {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
  }
  .address-container {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 9px;
    position: relative;
    .short-address {
      display: inline-block;
      padding-right: 25px;
      padding-left: 5px;
    }
    .paper {
      position: absolute;
      right: 9px;
      top: 9px;
    }
  }
  .disconnect {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
  }
}
